# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
matplotlib
opencv-python
mediapipe
colorama
torch
torchvision
git+https://github.com/facebookresearch/detectron2.git
tensorflow
# tests/linter
black
coverage
flake8
pytest
yapf

#MACOS SPECIFIC
# packaging==21.3
# pyparsing==3.0.6
# tensorflow-macos==2.5.0
# zipp==3.7.0

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
